body{
    font-family: "Poppins", sans-serif;
    color: azure;
}

body{
    background-color: #2c2b2b;
}

.cabeza:hover{
    font-family: 'Courier New', Courier, monospace;
}

.nombre_desarrolador {
    color: #1069c2;
    font-weight: bold;
}

.matricula {
    color: #307dca;
    font-weight: bold;
}

.correo_desarrollador {
    color: #4d91da;
    font-weight: bold;
}

#Solicitud_CRL {
    color: #77adda;
    font-weight: bold;
}

#respuesta {
    color: #d13811;
}

